/* General styles for all menus */
.cbp-spmenu
{
    position: fixed;
    height: 100%;
    width: 100%;
}

.cbp-spmenu h3
{
    font-size: 1.9em;
    font-weight: 300;

    margin: 0;
    padding: 20px;

    color: #afdefa;
    background: #0d77b6;
}

.cbp-spmenu a
{
    font-size: 1.1em;
    font-weight: 300;

    display: block;

    color: #fff;
}

.cbp-spmenu a:hover
{
    background: #258ecd;
}

.cbp-spmenu a:active
{
    color: #47a3da;
    background: #afdefa;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical
{
    z-index: 1000;
    top: 0;

    width: 900px;
    height: 100%;
}

.cbp-spmenu-vertical a
{
    padding: 1em;

    border-bottom: 1px solid #258ecd;
}

.cbp-spmenu-horizontal
{
    z-index: 1000;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 150px;
}

.cbp-spmenu-horizontal h3
{
    float: left;

    width: 20%;
    height: 100%;
}

.cbp-spmenu-horizontal a
{
    float: left;

    width: 20%;
    padding: .8em;

    border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left
{
    left: -900px;
}

.cbp-spmenu-right
{
    right: -900px;
}

.cbp-spmenu-left.cbp-spmenu-open
{
    left: 0;
}

.cbp-spmenu-right.cbp-spmenu-open
{
    right: 0;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top
{
    top: -150px;
}

.cbp-spmenu-bottom
{
    bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open
{
    top: 0;
}

.cbp-spmenu-bottom.cbp-spmenu-open
{
    bottom: 0;
}

/* Push classes applied to the body */

.cbp-spmenu-push
{
    position: relative;
    left: 0;
}
.cbp-spmenu-push.cbp-spmenu-push-toleft .container
{
    opacity: .2;
}
.cbp-spmenu-push-toright
{
    left: 900px;
}

.cbp-spmenu-push-toleft
{
    left: -900px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push
{
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
            transition: all .3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em)
{
    .cbp-spmenu-horizontal
    {
        font-size: 75%;

        height: 110px;
    }

    .cbp-spmenu-top
    {
        top: -110px;
    }

    .cbp-spmenu-bottom
    {
        bottom: -110px;
    }
}

@media screen and (max-height: 26.375em)
{
    .cbp-spmenu-vertical
    {
        font-size: 90%;

        width: 190px;
    }

    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft
    {
        left: -190px;
    }

    .cbp-spmenu-right
    {
        right: -190px;
    }

    .cbp-spmenu-push-toright
    {
        left: 190px;
    }
}
