/*-----Font's-------*/
/*--Bebas Neue--*/
@font-face{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  src: url('../files/fonts/bebas_neue/BebasNeue-Bold.ttf') format("truetype");
}
@font-face{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 500;
  src: url('../files/fonts/bebas_neue/BebasNeue-Book.ttf') format("truetype");
}
@font-face{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  src: url('../files/fonts/bebas_neue/BebasNeue-Regular.ttf') format("truetype");
}
@font-face{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 300;
  src: url('../files/fonts/bebas_neue/BebasNeue-Light.ttf') format("truetype");
}
@font-face {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 200;
  src: url('../files/fonts/bebas_neue/BebasNeue-Thin.ttf') format("truetype");
}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic');
/*--Roboto Condensed--*/
@font-face{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  src: url('../files/fonts/roboto/roboto-bold-condensed.ttf') format("truetype");
}
@font-face{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  src: url('../files/fonts/roboto/roboto-condensed.ttf') format("truetype");
}
/*-----Tag's-------*/
*,
*:before,
*:after {
  vertical-align: top;
  -webkit-font-smoothing: antialiased!important;
}
*,
*:hover{
  -webkit-transition: .3s opacity,  .3s color,  .3s text-decoration,  .3s background-color, .3s transform,  .3s background-position;
  -moz-transition: .3s opacity,  .3s color,  .3s text-decoration,  .3s background-color, .3s transform,  .3s background-position;
  -o-transition: .3s opacity,  .3s color,  .3s text-decoration,  .3s background-color, .3s transform,  .3s background-position;
  transition: .3s opacity,  .3s color,  .3s text-decoration,  .3s background-color, .3s transform,  .3s background-position;
}
body
{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #0F0F0F;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a{
  color: #0F0F0F;
  text-decoration: none;
}
/*-----Basic block's------*/
.wrapper{
  position: relative;
  width: 100%;
  min-width: 1100px;
  height: 100%;
  overflow: hidden;
}
.row{
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1100px;
  box-sizing: border-box;
}
.wrap{
  display: inline-block;
}
.middle-block{
  display: table!important;
  vertical-align: middle;
}
.middle-block .middle-block_content{
  display: table-cell;
  vertical-align: middle;
}
/*--------*/
.wrapper .top{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 66px;
  z-index: 1;
}
.wrapper .top.fix{
  position: fixed;
}
.wrapper .top .logo{
  width: 174px;
  height: 66px;
  display: inline-block;
  background: url(../files/img/logo.svg) left top no-repeat;
  vertical-align: top;
}
.wrapper .top .nav{
  vertical-align: top;
  padding-left: 125px;
  padding-top: 15px;
  display: inline-block;
  box-sizing: border-box;
}
.wrapper .top .nav li{
  padding: 0 5px;
  list-style: none;
  display: inline-block;
}
.wrapper .top .nav li a{
  display: inline-block;
  color: #0F0F0F;
  padding: 10px 10px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
}
.wrapper .top .nav li a:hover{
  opacity: .5;
}
.wrapper .top .appstore-link{
  margin: 10px 0;
  float: right;
  display: inline-block;
  width: 155px;
  height: 46px;
  background: url(../files/img/appstore.svg) left top no-repeat;
  background-size: cover;
}
/*----Slide----*/
.slide{
  width: 100%;
}
.slide.slide_index{
min-height: 100%;
  position: relative;
  background: url(../files/img/slide_index.jpg);
  background-size: cover;
  text-align: center;
}
.slide.slide_app{
  margin-top: 241px;
  height: 700px;
  position: relative;
  background-color: #0F0F0F;
  color: #fff;
}
.slide.slide_app .row.content{
  position: relative;
}
.slide.slide_app .row.content:before{
  content: '';
  position: absolute;
  left: -88px;
  top: -108px;
  width: 592px;
  height: 808px;
  background: url(../files/img/iphone_hands.png)
}
/*---Slide elements---*/
.slide.slide_index .title{
  line-height: 126px;
  display: inline-block;
  width: 780px;
  height: 100%;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  font-size: 140px;
}
.slide.slide_index .title .middle-block_content{
  height: 225px;
}
.slide.slide_index .title .middle-block_content{
  position: relative;
}
.slide.slide_index .scl-ic{
  position: absolute;
  margin: auto;
  right: 40px;
  top: 0;
  bottom: 0;
  height: 76px;
  width: 28px;
}
.slide.slide_index .scl-ic .item{
  display: inline-block;
  width: 28px;
  height: 20px;
  cursor: pointer;
}
.slide.slide_index .scl-ic .item:hover{
  opacity: .8;
}
.slide.slide_index .scl-ic .item.inst{
  background: url(../files/img/instagram.svg) center top no-repeat;
  background-size: 20px;
}
.slide.slide_index .scl-ic .item.vk{
  margin-top: 40px;
  background: url(../files/img/vk.svg) center top no-repeat;
  background-size: 28px;
}
.slide.slide_app .desc{
  position: absolute;
  top: 161px;
  right: 0;
  width: 380px;
}
.slide.slide_app .desc .title{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;;
  font-size: 70px;
  letter-spacing: 0;
  line-height: 72px;
}
.slide.slide_app .desc .about{
  padding-top: 25px;
  font-size: 18px;
  color: rgba(255,255,255,0.70);
  line-height: 27px;
}
.slide.slide_app .desc .appstore{
  margin-top: 32px;
  display: inline-block;
  width: 168px;
  height: 50px;
  background: url(../files/img/appstore_white.svg) left top no-repeat;
  background-size: cover;
}
/*---Block's---*/
.row.classes{
  padding-top: 164px;
}
.row.classes .item{
  width: 100%;
  margin-bottom: 245px;
}
.row.classes .item:last-child{
  margin-bottom: 0;
}
.row.classes .item .about,
.row.classes .item .photo{
  display: inline-block;
  float: left;
}
.row.classes .item .about{
  width: 380px;
}
.row.classes .item.item_left .about{
  padding-right: 90px;
}
.row.classes .item.item_right .about{
  padding-left: 90px;
}
.row.classes .item .about .title{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;;
  font-size: 70px;
  color: #0F0F0F;
  letter-spacing: 0;
  line-height: 72px;
}
.row.classes .item .about .desc{
  margin-top: 25px;
  margin-bottom: 32px;
  font-size: 18px;
  color: #0F0F0F;
  line-height: 27px;
}
.row.classes .item .photo{
  position: relative;
  top: -64px;
  width: 630px;
}
.row.classes .item .photo img{
  margin: 0;
  box-shadow: 20px 20px 40px 0 rgba(0,0,0,0.25);
  display: inline-block;
}
.row.classes .item .photo img.large{
  width: 540px;
  height: 405px;
}
.row.classes .item .photo img.bottom,
.row.classes .item .photo img.right{
  position: absolute;
}
.row.classes .item .photo.type_1 img.bottom{
  bottom: -145px;
  left: 80px;
  width: 180px;
  height: 180px;
}
.row.classes .item .photo.type_1 img.right{
  top: 122px;
  right: 10px;
  width: 220px;
  height: 220px;
}
.row.classes .item .photo.type_2 img.bottom{
  bottom: -114px;
  left: 122px;
  width: 200px;
  height: 200px;
}
.row.classes .item .photo.type_2 img.right{
  top: 220px;
  right: 0;
  width: 160px;
  height: 160px;
}
.row.classes .item .photo.type_3 img.bottom{
  bottom: -105px;
  left: 275px;
  width: 140px;
  height: 140px;
}
.row.classes .item .photo.type_3 img.right{
  top: 91px;
  right: 10px;
  width: 220px;
  height: 220px;
}
.row.about{
  position: relative;
  margin-top: 170px;
  padding-left: 180px;
  padding-top: 30px;
}
.row.about .title,
.row.about .desc{
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.row.about .title{
  padding-right: 50px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  font-size: 120px;
  width: 380px;
  color: #0F0F0F;
  letter-spacing: 0;
  line-height: 110px;
  text-align: right;
}
.row.about .desc{
  font-size: 18px;
  color: #0F0F0F;
  width: 380px;
  letter-spacing: 0;
  line-height: 27px;
  text-align: left;
}
.row.about .pic{
  position: absolute;
  left: 110px;
  top: 144px;
  display: inline-block;
  box-shadow: 20px 20px 40px 0px rgba(0,0,0,0.15);
}
.row.service{
  position: relative;
  margin-top: 580px;
}
.row.service .desc{
  position: relative;
  font-size: 18px;
  color: #0F0F0F;
  letter-spacing: 0;
  line-height: 27px;
  width: 460px
}
.row.service .desc .logo.trione{
  width: 165px;
  height: 53px;
  display: inline-block;
  background: url(../files/img/trione.png) left top no-repeat;
}
.row.service .desc .title{
  padding-top: 7px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  font-size: 120px;
  letter-spacing: 0;
  line-height: 110px;
}
.row.service .desc .about{
  padding: 12px 0 33px 0;
}
.row.service .pic{
  position: absolute;
  right: 0;
  top: -240px;
  display: inline-block;
}
.row.service .pic img{
  width: 494px;
  height: 1138px;
}
.row.gallery{
  position: relative;
  padding-top: 290px;
  text-align: center;
}
.row.gallery .title{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  font-size: 120px;
}
.row.gallery .desc{
  margin-top: 10px;
  width: 680px;
  display: inline-block;
}
.row.gallery .gallery-block{
  width: 100%;
  margin-top: 74px;
  text-align: left;
  list-style: none;
  display: inline-block;
}
.row.gallery .gallery-block .item{
  position: relative!important;
  left: auto!important;
  top: auto!important;
  display: inline-block;
  width: 353px;
  height: 353px;
  margin: 0 20px 20px 0;
  float: left;
  cursor: pointer;
}
.row.gallery .gallery-block .item:hover img{
  opacity: .9;
}
.row.gallery .gallery-block .item:nth-child(3n){
  margin-right: 0;
}
.row.gallery .gallery-block .item .pic,
.row.gallery .gallery-block .item .pic img{
  width: 353px;
  height: 353px;
}
.row.gallery .gallery-block .item .pic{
  position: absolute;
  display: inline;
}
.row.gallery .gallery-block .item .title{
  position: absolute;
  bottom: 14px;
  left: 20px;
  display: inline-block;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 300;
  font-size: 32px;
  color: #fff;
  letter-spacing: 0px;
  line-height: 34px;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
}
body.safari .row.gallery .gallery-block .item .title{
  font-weight: 400;
}
.row.contact{
  padding-top: 195px;
  text-align: center;
}
.row.contact .title{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  font-size: 120px;
}
.row.contact .desc{
  margin-top: 7px;
  font-size: 18px;
  line-height: 27px;
  width: 680px;
  display: inline-block;
}
.row.contact .contact-block{
  display: inline-block;
  width: 100%;
  margin-top: 109px;
}
.row.contact .contact-block .item{
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center;
  margin-bottom: 105px;
}
.row.contact .contact-block .item .desc{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  font-size: 70px;
  letter-spacing: 0;
  text-align: center;
  width: auto;
  line-height: 50px;
  cursor: pointer;
  text-decoration: none;
}
.row.contact .contact-block .item .desc:hover{
  border-bottom: 7px solid #000;
  margin-bottom: -7px;
}
.row.contact .contact-block .item .pic{
  width: 100%;
  height: 60px;
  display: inline-block;
  background-position: top center;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}
.row.contact .contact-block .item .pic.phone{
  background-image: url(../files/img/phone.svg);
  background-size: 60px;
}
.row.contact .contact-block .item .pic.email{
  background-image: url(../files/img/email.svg);
  background-size: 78px;
}
.row.contact .contact-block .item .pic.inst{
  background-image: url(../files/img/inst.svg);
  background-size: 60px;
}
.row.contact .contact-block .item .pic.vk{
  background-image: url(../files/img/vk.svg);
  background-size: 78px;
}
.row.footer{
  margin-top: 30px;
  padding-bottom: 29px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  font-size: 18px;
  height: 332px;
  letter-spacing: 1px;
  text-align: center;
}
.row.footer .row.cont{
  position: relative;
  padding-top: 280px;
  display: inline-block;
  box-sizing: border-box;
}
.row.footer .row.cont:after{
  content: '';
  position: absolute;
  left: 200px;
  top: 0;
  width: 412px;
  height: 332px;
  display: inline-block;
  background: url(../files/img/person1.png) left top no-repeat;
  z-index: 1;
}
.row.footer .link-to-us,
.row.footer .scl-ic,
.row.footer .copryright{
  z-index: 2;
}
.row.footer .copryright{
  display: inline-block;
  vertical-align: top;
  float: left;
}
.row.footer .link-to-us{
  position: absolute;
  vertical-align: top;
  left: 0;
  right: 0px;
  margin: auto;
}
.row.footer .scl-ic{
  display: inline-block;
  vertical-align: top;
  float: right;
}
.row.footer .scl-ic .item{
  position: relative;
  display: inline-block;
  width: 28px;
  height: 20px;
  cursor: pointer;
  margin-right: 32px;
  vertical-align: top;
  cursor: pointer;
  z-index: 12;
}
.row.footer .scl-ic .item:last-child{
  margin-right: 0;
}
.row.footer .scl-ic .item:hover{
  opacity: .6;
}
.row.footer .scl-ic .item.inst{
  background: url(../files/img/instagram.svg) center top no-repeat;
  background-size: 20px;
}
.row.footer .scl-ic .item.vk{
  background: url(../files/img/vk.svg) center top no-repeat;
  background-size: 28px;
}
/*---Desc Box----*/
.wrapper .container{
  position: relative;
  left: 0;
  overflow-y: auto;
  height: 100%;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}
.wrapper.describtion-block_active .container{
  left: -900px;
  cursor: pointer;
  transition: all .5s;
  opacity: .2;
  overflow: hidden;
}
.wrapper .shadow{
  position: absolute;
  left: -900px;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: -1;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  cursor: pointer;
}
.wrapper.describtion-block_active .shadow{
  z-index: 9999;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}
.wrapper .describtion-block{
  position: fixed;
  right: -900px;
  top: 0;
  width: 900px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #0F0F0F;
  z-index: 9;
  box-sizing: border-box;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}
.wrapper.describtion-block_active .describtion-block{
  position: absolute;
  right: 0;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}
.wrapper .describtion-block .block{
  position: absolute;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}
.wrapper .describtion-block .block.show{
  position: absolute;
  opacity: 1;
  overflow: visible;
  z-index: 1;
}
.wrapper .describtion-block .back-btn{
  position: absolute;
  left: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  display: inline-block;
  background: url(../files/img/describtion-arrow.svg) center no-repeat #262626;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,0.20);
  z-index: 99;
  cursor: pointer;
}
.wrapper .describtion-block .back-btn:hover{
  background-position: left 13px center;
}
.wrapper .describtion-block .header{
  width: 100%;
  height: 530px;
  display: inline-block;;
}
.wrapper .describtion-block .header .little_title{
  position: absolute;
  left: 0;
  right: 0;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 18px;
  text-align: center;
  color: #fff;
  width: 100%;
  letter-spacing: 1px;
}
.wrapper .describtion-block .header .btn{
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 12px 18px 10px 18px;
  z-index: 99;
}
.wrapper .describtion-block .block#instructors .header{
  background: url(../files/img/header_1.png) left top no-repeat;
}
.wrapper .describtion-block .block#skiing-service .header{
  height: 495px;
  background: url(../files/img/header_2.png) left top no-repeat;
}
.wrapper .describtion-block .block#child-club .header{
  background: url(../files/img/header_3.png) left top no-repeat;
}
.wrapper .describtion-block .header .title{
  position: relative;
  padding-top: 257px;
  display: inline-block;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 110px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0;
  line-height: 105px;
  width: 100%;
  text-align: center;
}
.wrapper .describtion-block .header.no_background{
  background: transparent!important;
  height: 272px;
}
.wrapper .describtion-block .header.no_background .title{
  font-size: 110px!important;
  line-height: 105px!important;
  padding-top: 45px!important;
}
.wrapper .describtion-block .block#child-club .header .title{
  padding-top: 252px;
}
.wrapper .describtion-block .block#skiing-service .header .title{
  padding-top: 105px;
}
.wrapper .describtion-block .block#skiing-service .header .title:after{display: none}
.wrapper .describtion-block .header .title:after{
  position: absolute;
  left: 0;
  right: 0;
  bottom: -19px;
  margin: auto;
  content: '';
  width: 60px;
  height: 10px;
  display: inline-block;
  background-color: #fff;
}
.wrapper .describtion-block .content{
  width: 700px;
  margin: 0 100px;
  color: #fff;
  background-color: #0F0F0F;
}
.wrapper .describtion-block .content .col{
  width: 900px;
  padding: 0 100px;
  box-sizing: border-box;
  margin: 0 -100px;
}
.wrapper .describtion-block .block .questionnaire{
  width: 100%;
  padding-top: 15px;
  padding-bottom: 100px;
}
.wrapper .describtion-block .block .questionnaire .item{
  padding-top: 86px;
  width: 100%;
  display: inline-block;
}
.wrapper .describtion-block .block .questionnaire .item .title{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 19px;
  color: rgba(255,255,255,0.70);
  letter-spacing: 1px;
}
.wrapper .describtion-block .block .questionnaire .text-form{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  font-size: 70px;
  width: 100%;
  color: #fff;
  letter-spacing: 0;
  line-height: 72px;
}
.wrapper .describtion-block .block .questionnaire .set-time{
  position: relative;
  width: 100%;
  display: inline-block;
}
.wrapper .describtion-block .block .questionnaire .set-time input{
  display: none;
}
.wrapper .describtion-block .block .questionnaire .set-time .set-time_label{
  display: inline-block;
  width: 100%;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  font-size: 70px;
  /*color: #fff;*/
  color: #333;
  letter-spacing: 0;
  line-height: 72px;
}
.wrapper .describtion-block .block .questionnaire .set-time .set-time_label:after{
  content: '';
  position: absolute;
  right: 0;
  top: 16px;
  display: inline-block;
  width: 40px;
  height: 20px;
  background: url(../files/img/arrow-question.svg) left top no-repeat;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
.wrapper .describtion-block .block .questionnaire .set-time .set-time_label div{
  display: inline-block;
}
.wrapper .describtion-block .block .questionnaire .set-time .set-time_label .set-time_start:after{
  content: '-';
}
.wrapper .describtion-block .block .questionnaire .set-time .set-time_scroll-bar{
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  padding: 18px 25px 50px 25px;
  list-style: none;
  display: inline-block;
  width: 100%;
  height: 132px;
  background: rgba(0, 0, 0, .95);
  box-sizing: border-box;
  z-index: 99;
  display: none;
}
.wrapper .describtion-block .block .questionnaire .set-time input:checked + .set-time_scroll-bar{
  /*display: block;*/
}
.wrapper .describtion-block .block .questionnaire .set-time .set-time_scroll-bar .top-time{
  list-style: none;
  display: inline-block;
  width: 100%;
}
.wrapper .describtion-block .block .questionnaire .set-time .set-time_scroll-bar .top-time li{
  position: relative;
  display: inline-block;
  float: left;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  width: 28px;
  height: 40px;
}
.wrapper .describtion-block .block .questionnaire .set-time .set-time_scroll-bar .top-time li:after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: inline-block;
  height: 15px;
  width: 2px;
  background-color: #333;
}
.wrapper .describtion-block .block .questionnaire .set-time .set-time_scroll-bar .top-time li.active{
  color: #fff;
}
.wrapper .describtion-block .block .questionnaire .set-time .set-time_scroll-bar .top-time li.active:after{
  background-color: #fff;
  color: #fff;
}
.wrapper .describtion-block .block .questionnaire .set-time .set-time_scroll-bar .line{
  margin-top: 27px;
  height: 20px;
  width: 100%;
  max-width: 644px;
  background: #333;
}
.wrapper .describtion-block .block .questionnaire .set-time .set-time_scroll-bar .line-select{
  position: absolute;
  top: 85px;
  margin-left: 38px;
  left: 309px;
  height: 20px;
  width: 56px;
  max-width: 644px;
  background: #fff;
}
.wrapper .describtion-block .block .questionnaire .set-time .set-time_scroll-bar .start,
.wrapper .describtion-block .block .questionnaire .set-time .set-time_scroll-bar .finish{
  position: absolute;
  top: 70px;
  display: inline-block;
  width: 28px;
  height: 50px;
  background: #b5b5b5;
  cursor: pointer;
  z-index: 99;
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.20);
  border-radius: 2px;
}
.wrapper .describtion-block .block .questionnaire .set-time .set-time_scroll-bar .start{
  left: 333px;
  margin-left: ;
}
.wrapper .describtion-block .block .questionnaire .set-time .set-time_scroll-bar .finish{
  left: 389px;
}
.wrapper .describtion-block .block .questionnaire .drop-list{
  position: relative;
  display: inline-block;
  width: 100%;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #333;
  letter-spacing: 0;
  line-height: 72px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.wrapper .describtion-block .block .questionnaire .drop-list .select{
  position: relative;
  display: inline-block;
  width: 100%;
  color: #fff;
  cursor: pointer;
}
.wrapper .describtion-block .block .questionnaire .drop-list .select:after{
  content: '';
  position: absolute;
  right: 0;
  top: 16px;
  display: inline-block;
  width: 40px;
  height: 20px;
  background: url(../files/img/arrow-question.svg) left top no-repeat;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
.wrapper .describtion-block .block .questionnaire .drop-list .select.active:after{
  transform: rotate(180deg);
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
.wrapper .describtion-block .block .questionnaire .drop-list .select.no_select{
  color: #333;
}
.wrapper .describtion-block .block .questionnaire .drop-list .option-list{
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  padding-top: 12px;
  list-style: none;
  display: inline-block;
  width: 100%;
  max-height: 240px;
  overflow-y: auto;
  background: rgba(0, 0, 0, .95);
  box-sizing: border-box;
  z-index: 99;
  display: none;
}
.wrapper .describtion-block .block .questionnaire .drop-list input{display: none;}
.wrapper .describtion-block .block .questionnaire .drop-list input:checked + .option-list{display: inline-block;}
.wrapper .describtion-block .block .questionnaire .drop-list .option-list li.option{
  padding: 12px 25px;
  display: inline-block;
  width: 100%;
  font-size: 50px;
  line-height: 52px;
  box-sizing: border-box;
  cursor: pointer;
}
.wrapper .describtion-block .block .questionnaire .drop-list .option-list li.option.active,
.wrapper .describtion-block .block .questionnaire .drop-list .option-list li.option:hover{
  color: #fff;
}
.wrapper .describtion-block .block .questionnaire .switch{
  display: inline-block;
  width: 100%;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #333;
  letter-spacing: 0;
  line-height: 72px;
}
.wrapper .describtion-block .block .questionnaire .switch input{display: none;}
.wrapper .describtion-block .block .questionnaire .switch label{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}
.wrapper .describtion-block .block .questionnaire .switch input:checked + label{
  color: #fff;
}
.wrapper .describtion-block .block .questionnaire .switch label:after{
  display: inline-block;
  padding-left: 10px;
  content: '/';
  color: #333;
  display: inline-block;
}
.wrapper .describtion-block .block .questionnaire .switch label:last-of-type:after{
  display: none;
}
.wrapper .describtion-block .block .questionnaire .btn_block{
  margin-top: 86px;
  text-align: center;
}
.wrapper .describtion-block .block .questionnaire .btn_block .btn{
  padding: 13px 25px 10px 25px;
}
.wrapper .describtion-block .block .questionnaire .text-form::-webkit-input-placeholder {color:#333!important;}
.wrapper .describtion-block .block .questionnaire .text-form::-moz-placeholder          {color:#333!important;}
.wrapper .describtion-block .block .questionnaire .text-form:-moz-placeholder           {color:#333!important;}
.wrapper .describtion-block .block .questionnaire .text-form:-ms-input-placeholder      {color:#333!important;}
.wrapper .describtion-block .block .questionnaire .text-form.color_red::-webkit-input-placeholder {color:#6D0F0F!important;}
.wrapper .describtion-block .block .questionnaire .text-form.color_red::-moz-placeholder          {color:#6D0F0F!important;}
.wrapper .describtion-block .block .questionnaire .text-form.color_red:-moz-placeholder           {color:#6D0F0F!important;}
.wrapper .describtion-block .block .questionnaire .text-form.color_red:-ms-input-placeholder      {color:#6D0F0F!important;}
.wrapper .describtion-block .block .content{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: rgba(255,255,255,0.70);
  line-height: 27px;
}
.wrapper .describtion-block .block#child-club .content{
  padding-top: 50px;
}
.wrapper .describtion-block .block#child-club .gradient{
background-image: linear-gradient(-179deg, rgba(17,20,23,0.00) 0%, #101416 100%);
}
.wrapper .describtion-block .block#child-club #questionnaire-block{
  padding-top: 100px;
  background-color: #0F0F0F;
  display: none;
}
.wrapper .describtion-block .block#child-club #questionnaire-block.show{
  display: block;
}
.wrapper .describtion-block .block#child-club .content .btn{
  padding: 13px 25px 10px 25px;
}
.wrapper .describtion-block .block#child-club .content .text_title{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 72px;
}
.wrapper .describtion-block .block#child-club .content .pictures-block{
  width: 900px;
  margin: 74px -100px 8px -100px;
  display: inline-block;
}
.wrapper .describtion-block .block#child-club .content .pictures-block .pic{
  width: 285px;
  height: 285px;
  float: left;
}
.wrapper .describtion-block .block#child-club .content .pictures-block .pic.large{
  width: 580px;
  height: 580px;
  margin: 0 10px 0 10px;
}
.wrapper .describtion-block .block#child-club .content .pictures-block .pic:last-child{
  margin-top: 10px;
}
.wrapper .describtion-block .block#instructors .content{
  padding-bottom: 120px;
}
.wrapper .describtion-block .block#instructors .content .instructor{
  position: relative;
  width: 100%;
  display: inline-block;
}
.wrapper .describtion-block .block#instructors .content .instructor.type_1{
  margin-top: 130px;
}
.wrapper .describtion-block .block#instructors .content .instructor.type_2{
  margin-top: 227px;
}
.wrapper .describtion-block .block#instructors .content .instructor.type_3{
  margin-top: 276px;
}
.wrapper .describtion-block .block#instructors .content .instructor .pic{
  position: right;
  width: 380px;
  height: 380px;
  box-shadow: 20px 20px 40px 0 rgba(0,0,0,0.15);
}
.wrapper .describtion-block .block#instructors .content .instructor.type_1 .pic,
.wrapper .describtion-block .block#instructors .content .instructor.type_3 .pic{
  float: left;
}
.wrapper .describtion-block .block#instructors .content .instructor.type_2 .pic{
  float: right;
}
.wrapper .describtion-block .block#instructors .content .instructor .name,
.wrapper .describtion-block .block#instructors .content .instructor .desc{
  position: absolute;
  width: 380px;
}
.wrapper .describtion-block .block#instructors .content .instructor .name{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 72px;
  display: inline-block;
}
.wrapper .describtion-block .block#instructors .content .instructor.type_1 .name{
  right: 0;
  top: -62px;
}
.wrapper .describtion-block .block#instructors .content .instructor.type_2 .name{
  left: 0;
  top: -95px;
}
.wrapper .describtion-block .block#instructors .content .instructor.type_3 .name{
  right: 0;
  top: -142px;
}
.wrapper .describtion-block .block#instructors .content .instructor .desc{
  top: 95px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: rgba(255,255,255,0.70);
  line-height: 27px;
  display: inline-block;
}
.wrapper .describtion-block .block#instructors .content .instructor.type_2 .desc{
  top: 62px;
}
.wrapper .describtion-block .block#instructors .content .instructor.type_3 .desc{
  top: 15px;
}
.wrapper .describtion-block .block#instructors .content .instructor.type_1 .desc,
.wrapper .describtion-block .block#instructors .content .instructor.type_3 .desc{
  right: 0;
}
.wrapper .describtion-block .block#instructors .content .instructor.type_2 .desc{
  left: 0;
}
/*---Element's---*/
a.more{
  color: #0069D2;
}
a.more:hover{
  opacity: .5;
}
a.link{
  text-decoration: underline;
}
a.link:hover{
  text-decoration: none;
}
.btn{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  padding: 17px 25px 15px 25px;
  display: inline-block;
  letter-spacing: .239;
  cursor: pointer;
  text-transform: uppercase;
}
.btn.blue{
  font-weight: 300;
  color: #fff;
  background-color: #0069D2;
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.20);
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}
.btn.blue:hover{
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.35);
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}
.btn.blue:active{
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.1);
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}
/*---Style's---*/
.hide{
  display: none!important;
}
.color_red{
  color: #6D0F0F;
}
.align_center{
  text-align: center;
}
.align_left{
  text-align: left;
}
.align_right{
  text-align: right;
}
.l-h_27{
  line-height: 27px;
}
.f-f_bn{
  font-family: 'Bebas Neue', sans-serif;
}
.f-w_200{
  font-weight: 200;
}
.f-w_300{
  font-weight: 300;
}
.f-w_400{
  font-weight: 400;
}
.f-w_500{
  font-weight: 500;
}
.f-w_700{
  font-weight: 700;
}
.f-s_120{
  font-size: 120px;
}
.l-s_0{
  letter-spacing: 0;
}
.l-s_-8{
  letter-spacing: -8px;
}
.l-s_-9{
  letter-spacing: -9px;
}
.l-s_-10{
  letter-spacing: -10px;
}
.bg_white{
  background-color: #fff;
}
.p-t_7{
  padding-top: 7px;
}
.p-t_32{
  padding-top: 32px;
}
.p-t_40{
  padding-top: 40px;
}
.p-t_42{
  padding-top: 42px;
}
.p-t_43{
  padding-top: 43px;
}
.p-t_100{
  padding-top: 100px;
}
.p-t_108{
  padding-top: 108px;
}
.p-t_142{
  padding-top: 142px;
}
.p-b_10{
  padding-bottom: 10px;
}
.p-b_100{
  padding-bottom: 100px;
}
.w_680{
  width: 680px;
}
.d_i-b{
  display: inline-block;
}
.d_b{
  display: block;
}


.wrapper.gallery_active{
  overflow: hidden;
  height: 100%;
}
.wrapper.gallery_active .container{
  filter: blur(25px) grayscale(25%);
  overflow-y: scroll;
  height: 100%;
}
.wrapper .grid-gallery .shadow{
  transition: all 0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.wrapper.gallery_active .grid-gallery .shadow{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.6);
  transition: opacity .5s;
}
.wrapper.gallery_active .shadow:after{
  content: '';
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  display: inline-block;
  background: url(../files/img/close.svg) center no-repeat;
  background-size: 40px;
}

.grid-gallery{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 100;
  display: inline-block;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
}
.wrapper.gallery_active .grid-gallery{
  opacity: 1;
  visibility: visible;
  z-index: 999;
  transition: all .5s;
}
.grid-gallery .gallery-content{
  position: relative;
  z-index: 99;
  width: 1100px;
  margin: auto;
}
.grid-gallery .album-name{
  padding: 72px 0 82px 0;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #0F0F0F;
  letter-spacing: 0;
  line-height: 72px;
}
@font-face {
	font-family: 'fontawesome';
	src:url('../files/fonts/fontawesome/fontawesome.eot?-e43dk9');
	src:url('../files/fonts/fontawesome/fontawesome.eot?#iefix-e43dk9') format('embedded-opentype'),
		url('../files/fonts/fontawesome/fontawesome.woff?-e43dk9') format('woff'),
		url('../files/fonts/fontawesome/fontawesome.ttf?-e43dk9') format('truetype'),
		url('../files/fonts/fontawesome/fontawesome.svg?-e43dk9#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/app */
.grid{
  list-style: none;
  display: inline-block;
  text-align: center;
  padding-bottom: 100px;
  height: auto!important;
}
.grid li{
  position: relative!important;
  left: auto!important;
  top: auto!important;
  display: inline-block;
  width: auto;
  margin: 0 10px 10px 0;
  float: left;
  vertical-align: top;
}
.grid li:nth-child(2n+1){margin: 0;}
.grid li img{
  float: left;
  width: 545px;
  height: 408px;
}
/* Slideshow style */
.slideshow {
	position: fixed;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 500;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.slideshow-open .slideshow {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.slideshow ul {
	width: 100%;
	height: 100%;
  list-style: none;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,150px);
	transform: translate3d(0,0,150px);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.slideshow ul.animatable li {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.slideshow-open .slideshow ul {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.slideshow li:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.8);
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.slideshow li {
  padding: 20px;
	max-width: 760px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -280px 0 0 -330px;
	visibility: hidden;
}

.slideshow li.show {
	visibility: visible;
  background-color: rgba(255, 255, 255, 0.9);
}

.slideshow li.current:after {
	visibility: hidden;*/
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}
.slideshow li.current{
  z-index: 200;
  position: fixed;
}
.slideshow li img{
  max-width: 100%;
}

/* Navigation */
.slideshow nav span {
	position: fixed;
	z-index: 100;
	color: #59656c;
	text-align: center;
	padding: 3%;
	cursor: pointer;
	font-size: 2.2em;
}

.slideshow nav span.nav-prev,
.slideshow nav span.nav-next {
	top: 70px;
  height: 100%;
  z-index: 101;
  width: 300px;
}

.slideshow nav span.nav-next {
	right: 0;
}
.slideshow nav span.nav-prev{
  left: 0;
}

.slideshow nav span.nav-close {
	top: 0;
	right: 0;
  bottom: 0;
	left: 0;
  text-align: right;
	padding: 0.5em 1em;
	color: #31373a;
}
.slideshow nav span.nav-close:after{
  content: '';
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  display: inline-block;
  background: url(../files/img/close.svg) center no-repeat;
  background-size: 40px;
}

.icon:before,
.icon:after {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Info on arrow key navigation */
.info-keys {
	position: fixed;
	top: 10px;
	left: 10px;
	width: 60px;
	font-size: 8px;
	padding-top: 20px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
}

.info-keys:before,
.info-keys:after {
	position: absolute;
	top: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
}

.info-keys:before {
	left: 10px;
	content: "\e603";
}

.info-keys:after {
	right: 10px;
	content: "\e604";
}

/* Example media queries (reduce number of columns and change slideshow layout) */

@media screen and (max-width: 60em) {
	/* responsive columns; see "Element sizing" on http://masonry.desandro.com/options.html */
	.grid li {
		width: 33.3%;
	}

	.slideshow li {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		margin: 0;
	}

	.slideshow li img {
		width: auto;
		margin: 0 auto;
		max-width: 100%;
	}

	.slideshow nav span,
	.slideshow nav span.nav-close {
		font-size: 1.8em;
		padding: 0.3em;
	}

	.info-keys {
		display: none;
	}

}

@media screen and (max-width: 35em) {
	.grid li {
		width: 50%;
	}
}

@media screen and (max-width: 24em) {
	.grid li {
		width: 100%;
	}
}
